<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for elem in items %}
    ---------------------------------------------------------------------------
    <br>
    {{ elem.title }}
    <br>
    {{ elem.link }}
    <br>
    {{ elem.description }}
    <br>
    ---------------------------------------------------------------------------
{% endfor %}
</body>
</html>