<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'feed' %}" method="post">
{% csrf_token %}
    <input type="text" name="feed">

<input type="submit" value="Click!">
</form>
    <ul>
    {% for elem in list_link_feed %}
        <li><a href="{% url 'item' elem.id %}">{{ elem.url }}</a></li>
    {% endfor %}
    </ul>
</body>
</html>